Microsoft.Flow/flows/ad5e39ec-733a-42dd-b034-cc2aaadf189d/definition.json
{"name":"695fea61-6f58-42ec-b2bf-b1cc5a6a6588","id":"/providers/Microsoft.Flow/flows/695fea61-6f58-42ec-b2bf-b1cc5a6a6588","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"FreshService API Call","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"creator":{"id":"9dd853df-a22f-42f2-a369-1a9b29c5cc1c","type":"User","tenantId":"034dedfa-1468-45d2-9685-850340466409"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2021-07-05T18:11:19.4673008Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{"HTTP_URI":{"type":"string","format":"uri","description":"Enter request URL. This parameter is used as part of \"ED0E4891-E259-4502-882F-98ADA7133C46\"","x-ms-powerflows-param-ispartial":true},"HTTP3_Body":{"type":"any","description":"Enter request content. This parameter is used as part of \"B86B744F-CDCA-40E3-A251-0333677BD4A6\"","x-ms-powerflows-param-ispartial":true}},"required":["HTTP_URI","HTTP3_Body"]}}}},"actions":{"HTTP":{"runAfter":{},"type":"Http","inputs":{"method":"GET","uri":"https://ctctechhelp.freshservice.com/api/v2/requesters?email=@{triggerBody()['HTTP_URI']}","authentication":{"type":"Basic","username":"7i8zyWwgbuAAeQQ0e2R","password":"test"}}},"Parse_JSON":{"runAfter":{"HTTP":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@body('HTTP')","schema":{"type":"object","properties":{"requesters":{"type":"array","items":{"type":"object","properties":{"active":{"type":"boolean"},"address":{},"background_information":{},"can_see_all_tickets_from_associated_departments":{"type":"boolean"},"created_at":{"type":"string"},"custom_fields":{"type":"object","properties":{}},"department_ids":{"type":"array"},"external_id":{},"first_name":{"type":"string"},"has_logged_in":{"type":"boolean"},"id":{"type":"integer"},"job_title":{"type":"string"},"language":{"type":"string"},"last_name":{"type":"string"},"location_id":{},"mobile_phone_number":{},"primary_email":{"type":"string"},"reporting_manager_id":{},"secondary_emails":{"type":"array"},"time_format":{"type":"string"},"time_zone":{"type":"string"},"updated_at":{"type":"string"},"work_phone_number":{}},"required":["active","address","background_information","can_see_all_tickets_from_associated_departments","created_at","custom_fields","department_ids","external_id","first_name","has_logged_in","id","job_title","language","last_name","location_id","mobile_phone_number","primary_email","reporting_manager_id","secondary_emails","time_format","time_zone","updated_at","work_phone_number"]}}}}}},"Apply_to_each":{"foreach":"@body('Parse_JSON')?['requesters']","actions":{"HTTP_2":{"runAfter":{},"type":"Http","inputs":{"method":"GET","uri":"https://ctctechhelp.freshservice.com/itil/requesters/@{items('Apply_to_each')?['id']}.json","authentication":{"type":"Basic","username":"7i8zyWwgbuAAeQQ0e2R","password":"test"}}},"Parse_JSON_2":{"runAfter":{"HTTP_2":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@body('HTTP_2')","schema":{"type":"object","properties":{"user":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"},"email":{"type":"string"},"created_at":{"type":"string"},"updated_at":{"type":"string"},"active":{"type":"boolean"},"job_title":{"type":"string"},"phone":{},"mobile":{},"description":{},"time_zone":{"type":"string"},"deleted":{"type":"boolean"},"language":{"type":"string"},"address":{},"external_id":{},"helpdesk_agent":{"type":"boolean"},"location_name":{},"time_format":{"type":"string"},"department_names":{"type":"array"},"custom_field":{"type":"object","properties":{}}}}}}}},"HTTP_3":{"runAfter":{"Parse_JSON_2":["Succeeded"]},"type":"Http","inputs":{"method":"PUT","uri":"https://ctctechhelp.freshservice.com/itil/requesters/@{items('Apply_to_each')?['id']}.json","body":{"user":{"job_title":"@{triggerBody()['HTTP3_Body']}"}},"authentication":{"type":"Basic","username":"7i8zyWwgbuAAeQQ0e2R","password":"test"}}}},"runAfter":{"Parse_JSON":["Succeeded"]},"type":"Foreach"}},"description":"The flow connects Power app Function Submit API Call.\n\nAPI Call Changes updated User Information."},"connectionReferences":{},"flowFailureAlertSubscribed":false,"isManaged":false}}